name: Build and Deploy
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Copy environment to package
        env:
          ENV_FILE: ${{ secrets.API_ENV }}
          ENV_FILE_PATH: ./src/main/resources/application-prod.yml
        run: echo "$ENV_FILE" > $ENV_FILE_PATH

      - name: Grant execute permission to Gradle wrapper
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/auth-service:latest

#      - name: Deploy
#        uses: appleboy/ssh-action@master
#        with:
#          host: ${{ secrets.HOST_URL }}
#          username: ${{ secrets.ACCOUNT }}
#          key: ${{ secrets.PRIVATE_KEY }}
#          script: |
#            echo "${{ secrets.DOCKER_COMPOSE }}" > docker-compose.yml
#            docker-compose pull
#            docker-compose stop
#            docker-compose up -d
#            docker-compose rm -f
#            docker image prune -a -f